/* Images with overlay */
#pqe-image-with-overlay-section .pqe-image-with-overlay-wrapper {
  cursor: pointer;
}
#pqe-image-with-overlay-section .pqe-image-with-overlay-wrapper .elementor-widget-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#pqe-image-with-overlay-section .pqe-image-with-overlay {
  display: flex;
  min-height: 300px;
}
#pqe-image-with-overlay-section .pqe-image-with-overlay .elementor-widget-container {
  display: flex;
  align-items: center;
}

#pqe-image-with-overlay-section .pqe-image-with-overlay .elementor-widget-container p {
  z-index: 20;
  opacity: 0;
  transition: opacity 1000ms;
}
#pqe-image-with-overlay-section .pqe-image-with-overlay-wrapper:hover .elementor-widget-container p {
  opacity: 1;
}
#pqe-image-with-overlay-section .pqe-image-with-overlay::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 1000ms;
}
#pqe-image-with-overlay-section .pqe-image-with-overlay-wrapper:hover .pqe-image-with-overlay::before {
  opacity: 0.4;
}

/* Testimony image */
#pq-testimony-img {
  position: absolute;
  top: calc(100% - 350px);
  clip: rect(0px,2000px,350px,0px);
}
#pq-testimony-wrapper{
  overflow-x: clip;
}
@media( max-width:1024px ) {
  #pq-testimony-img {
      width: 130%;
      top: calc(100% - 250px);
      clip: rect(0px,2000px,250px,0px);
  }
}
@media( max-width:767px ) {
  #pq-testimony-img{
      width: 500px;
      right: -100px;
      top: calc(100% - 200px);
      clip: rect(0px,calc(500px - 100px),200px,0px);
  }
}
@media( max-width:666px ) {
  #pq-testimony-img {
      width: 450px;
      clip: rect(0px,calc(450px - 100px),200px,0px);
  }
}
@media( max-width:560px ) {
  #pq-testimony-img {
      width: 400px;
      clip: rect(0px,calc(400px - 100px),200px,0px);
  }
}
@media( max-width:450px ) {
  #pq-testimony-img {
      top: calc(100% - 200px);
      clip: rect(0px,calc(400px - 100px),200px,0px);
  }
}
@media( max-width:380px ) {
  #pq-testimony-img {
      top: calc(100% - 180px);
      clip: rect(0px,calc(400px - 100px),180px,0px);
  }
}